<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
            <span class="contact100-form-title p-b-43">
                Iniciar sesion
            </span>

            <div class="wrap-input100 validate-input" data-validate="Please enter email: e@a.x">
                <input class="input100" type="text" name="email" placeholder="Correo" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Please enter your pasword">
                <input class="input100" type="password" name="email" placeholder="Contrasena" required>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Ingresar
                </button>
            </div>

            <div class="contact100-more col-12 mb-3">   
                <a href="#" class="pwrd-link">
                Recuperar contrasena
            </a>
            </div>

            <div class="contact100-more col-12 mb-3">
                <a href="#" class="register-link">
                <i class="fa-solid fa-user-plus"></i>
                <span class="ml-2">No tienes cuenta?</span>
                Registrarse
            </a>
            </div>
        </form>
    </div>
</div>
