
  <!--Con un ciclo for mostrar los productos con una breve descripcion-->
      <!--Para ver los detalles se abre un modal-->
<section class="categoria-section" id="catalogo">
    <h2 class="titulo">Marketplace</h2>
    <div class="contenedor-categorias">
      <!--Boton agregar al carrito-->
      <div class="categoria-card">
        <img src="https://via.placeholder.com/300x200?text=Accesorios" alt="Item">
        <h3>Lenovo</h3>
        <button>Ver mas</button>
        <button onclick="openModal('descripcion')">agregar al carrito</button>
      </div>
      <div class="categoria-card">
        <img src="https://via.placeholder.com/300x200?text=Computadoras" alt="Item">
        <h3>Auriculares xiaomi</h3>
        <button>Ver mas</button>
        <Button>agregar al carrito</Button>
      </div>
      <div class="categoria-card">
        <img src="https://via.placeholder.com/300x200?text=Otros+Articulos" alt="Item">
        <h3>Teclado</h3>
        <button>Ver mas</button>
        <Button>agregar al carrito</Button>
      </div>
    </div>
</section>

<ng-template #descripcionModal let-modal="modal">
  <div class="modal-header">
    <h5 class="modal-title">Descripcion del producto</h5>
    <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
   <!-- <app-descripcion></app-descripcion>-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn custom-btn" (click)="modal.close('Close click')">Cancelar</button>
  </div>

