<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span class="contact100-form-title p-b-43">
        Iniciar sesion
      </span>
      
      <!-- Username Input -->
      <div class="wrap-input100 validate-input" data-validate="Please enter your username">
        <input class="input100" type="text" formControlName="username" placeholder="Username" required>
        <span class="focus-input100"></span>
      </div>
      
      <!-- Password Input -->
      <div class="wrap-input100 validate-input" data-validate="Please enter your password">
        <input class="input100" type="password" formControlName="password" placeholder="Contraseña" required>
        <span class="focus-input100"></span>
      </div>
      
      <!-- Submit Button -->
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" type="submit">
          Ingresar
        </button>
      </div>
      
      <!-- Recovery Password Link -->
      <div class="contact100-more col-12 mb-3">   
        <a href="#" class="pwrd-link">
          Recuperar contraseña
        </a>
      </div>
      
      <!-- Register Link -->
      <div class="contact100-more col-12 mb-3">
        <a href="#" class="register-link" routerLink="/registro">
          <i class="fa-solid fa-user-plus"></i>
          <span class="ml-2">No tienes cuenta?</span>
          Registrarse
        </a>
      </div>
    </form>

    <!-- Error message display -->
    <p *ngIf="error" style="color:red;">{{ error }}</p>
  </div>
</div>
