.navbar-container {
  background: rgba(93, 84, 240, 0.5);
  background: linear-gradient(to right, rgba(0, 168, 255, 0.5), rgba(183, 247, 243, 0.84));
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.nav-item, .navbar-brand, .btn {
  cursor: pointer;/* Add a pointer cursor to nav items */
}
