
<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer>


<!--  <app-root></app-root> This is the root component of the Angular application. It includes other components such as navbar, techforall, catalogo, donacion, and footer. -->
<!-- The <app-root> tag is a custom HTML element that Angular uses to bootstrap the application. -->
<!-- The components are likely defined in their respective TypeScript files and templates. -->
<!-- The navbar component is typically used for navigation links, the techforall component may provide information about technology for all, the catalogo component likely displays a catalog of items, the donacion component may handle donations, and the footer component usually contains copyright and contact information. -->
<!-- The overall structure suggests a web application that focuses on technology, possibly with a social or charitable aspect. -->