
  <section class="banner">
    <div class="banner-texto">
      <h1>La forma fácil<br>de conectar con<br><span>la tecnología.</span></h1>
      <p>De manera segura y sostenible</p>
      <div class="botones">
        <button class="btn">Comprar</button><!--ScrolltoId catalogo-->
        <button class="btn">Vender</button><!--REdirige al componente donar-->
      </div>
    </div>
    <div class="banner-imagen">
      <img src="https://via.placeholder.com/500x300?text=Notebook+HP" alt="Notebook HP">
    </div>
  </section>

