<footer class="footer text-center text-lg-start ">
    <div class="container p-4">
      <div class="row">
        <!-- Columna izquierda -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">Contáctanos</h5>
          <p>Tech ForAll</p>
          <p><strong>Email:</strong> techforallgmail.com</p>
        </div>
  
        <!-- Teléfonos -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">Teléfonos</h5>
          <ul class="list-unstyled">
            <li>021360342</li>
            <li>0981345670</li>
            <li>0983321456</li>
          </ul>
        </div>
  
        <!-- Redes sociales -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">Redes Sociales</h5>
          <a href="#" class="btn text-black btn-sm me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="btn text-black btn-sm me-2"><i class="bi bi-instagram"></i></a>
          <a href="#" class="btn text-black btn-sm"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>
    </div>
  
    <!-- Footer final -->
    <div class="text-center p-3">
      © 2025 Tech ForAll
    </div>
  </footer>
  